<div class="ui grid form">
    <div class="two wide column">
        <div class="ui small breadcrumb">
            <ng-container *ngFor="let parentKey of parentKeys; let i=index">
                <i *ngIf="i !== 0" class="right angle icon divider"></i>
                <a class="section">{{parentKey}}</a>
            </ng-container>
        </div>
    </div>
    <div class="seven wide column">
        {{xliffSegment.source}}
    </div>
    <div class="seven wide column">
        <textarea rows="2"[(ngModel)]="xliffSegment.target"></textarea>
    </div>
</div>