<div class="ui form segments">
    <div class="ui segment">
        <div class="ui small breadcrumb">
            <ng-container *ngFor="let parentKey of parentKeys; let i=index">
                <i *ngIf="i !== 0" class="right angle icon divider"></i>
                <a class="section">{{parentKey}}</a>
            </ng-container>
        </div>
    </div>

    <div class="ui horizontal segments grid">
        <div class="ui segment eight wide column">
            {{xliffSegment.source}}
        </div>
        <div class="ui segment eight wide column">
            <textarea rows="2" [(ngModel)]="xliffSegment.target"></textarea>
        </div>
    </div>
</div>