<div class="ui vertical masthead center aligned basic segment">
  <div class="ui text container">
    <h1 class="ui header">
      <span class="wrapper">&lt;/&gt;</span>Xliff
      <span>Editor</span>
    </h1>
    <h3>A simple tool for human translator. Support <a href="http://docs.oasis-open.org/xliff/xliff-core/v2.0/xliff-core-v2.0.html" target="_blank">XLIFF 2.0</a></h3>
  </div>
</div>

<div class="ui container">
  <app-file-upload (fileChange)="handleFileChange($event)"></app-file-upload>
  <app-xliff-viewer [xliffData]="xliffData"></app-xliff-viewer>
</div>