<div class="xliff-view">
  <div *ngFor="let item of xliffItem | objectToArray">

    <div [ngSwitch]="item.$key">
      <app-xliff-segment
        *ngSwitchCase="'segment'"
        [xliffSegment]="item.$value"></app-xliff-segment>
      <!--<app-xliff-viewer-item
        *ngSwitchDefault="'xliff'" [xliffItem]="item.$value" [parentKeys]="parentKeys.concat(item.$key)">
      </app-xliff-viewer-item>-->
    </div>

    <app-xliff-viewer-item
      *ngIf="item.$key === 'xliff' || item.$key === 'file' || item.$key === 'group' || item.$key === 'unit' || isArrayKey(item.$key)"
      [xliffItem]="item.$value"
      [parentKeys]="parentKeys.concat(item.$key)"
      >
      </app-xliff-viewer-item>
  </div>
</div>