<ng-container *ngFor="let item of xliffItem | objectToArray">

  <ng-container [ngSwitch]="item.$key">
    <app-xliff-segment *ngSwitchCase="'segment'" [xliffSegment]="item.$value" [parentKeys]="updateParentKeys"></app-xliff-segment>
    <app-xliff-unit *ngSwitchCase="'unit'" [xliffUnit]="item.$value" [parentKeys]="updateParentKeys"></app-xliff-unit>
    <app-xliff-group *ngSwitchCase="'group'" [xliffGroup]="item.$value" [parentKeys]="updateParentKeys"></app-xliff-group>
    <app-xliff-file *ngSwitchCase="'file'" [xliffFile]="item.$value" [parentKeys]="updateParentKeys"></app-xliff-file>
  </ng-container>

  <app-xliff-viewer-item
   class="row"
    *ngIf="item.$key === 'xliff'"
    [xliffItem]="item.$value"
    [parentKeys]="updateParentKeys">
  </app-xliff-viewer-item>
  <app-xliff-viewer-item
   class="row"
    *ngIf="isArrayKey(item.$key)"
    [xliffItem]="item.$value"
    [parentKeys]="parentKeys">
  </app-xliff-viewer-item>
</ng-container>